<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DerOptimist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FFmpeg.AutoGen" publicKeyToken="9b7632533a381715" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.2" newVersion="4.1.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DerOptimist.Properties.Settings>
      <setting name="ffmpegBinaryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultEncoderVideo" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultPreviewPath" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultPreviewDuration" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="defaultFrameRate" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="KeepPreviewFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeepPreviewFilesHistoryDelete" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Bookmarks" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultSingleImageDuration" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="lastOpenedDirectory" serializeAs="String">
        <value>c:\</value>
      </setting>
      <setting name="extensionsVideo" serializeAs="String">
        <value>avi, mp4, mpg, mov, mxf, mkv, ogm, flv, m4v, rm, wmv, webm</value>
      </setting>
      <setting name="extensionsAudio" serializeAs="String">
        <value>mp3, aiff, aif, m4a, mpa, wma, aac, wav, ogg</value>
      </setting>
      <setting name="extensionsImage" serializeAs="String">
        <value>jpg, png, tif, tiff, dpx, exr, dds, tga, iff, bmp, gif, img, jpe, jpeg, pbm, pcx, pct, ppm, ras, psd, psb, yuv</value>
      </setting>
      <setting name="extensionsSkip" serializeAs="String">
        <value>preset, com, exe, txt, doc, xls, xlss, js, cpp, DS_Store, rar, zip, exe, com,  json, dat, bin</value>
      </setting>
      <setting name="defaultEncoderAudio" serializeAs="String">
        <value />
      </setting>
      <setting name="TimeCodeFontSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TimeCodeFontColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="PresetFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Version" serializeAs="String">
        <value>0</value>
      </setting>
    </DerOptimist.Properties.Settings>
  </userSettings>
</configuration>
